# Eclipse 
/.project
/.pydevproject
/.settings
# WingIDE
/django-assets.wpr
# PyCharm
/.idea/

# distutils
/build
/dist
/django_assets.egg-info
/MANIFEST
/docs/_build/*

/LOCAL_TODO

/.tox/
*.~*
*.pyc
