language: python
python: 2.7
env:
  - TOX_ENV=django18-py27
  - TOX_ENV=django18-py33
  - TOX_ENV=django18-py34
  - TOX_ENV=django18-pypy

  - TOX_ENV=django19-py27
  - TOX_ENV=django19-py34
  - TOX_ENV=django19-py35
install:
  - pip install tox
script:
  - tox -e $TOX_ENV
branches:
  only:
    - master
addons:
  apt:
    sources:
      - deadsnakes
    packages:
      - python3.5
